.circles{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.first{
    height: 220px;
    width: 220px;
    background-color: #bbb;
    border-radius: 50%;
}

.second{
    height: 180px;
    width: 180px;
   background-color: yellow;
    border-radius: 50%;

}
.third{
    height: 160px;
    width: 160px;
   background-color: blue;
    border-radius: 50%;
}

.fourth{
    height: 120px;
    width: 120px;
   background-color: white;
    border-radius: 50%;
}


.fifth{
    height: 100px;
    width: 100px;
   background-color: black;
    border-radius: 50%;
}